<% provide(:title, 'Help') %>
<h1>Fader Help</h1>
<p>This is the temporary help page for the Fader application</p>
<p>
  In the meantime, please visit 
  <a href="savardfaire.tv">Savardfaire</a>.
</p>
