<% provide(:title, @market.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @market.name %>
      </h1>
      <p>Market Rank: <%= @market.rank %></p>
      <p>Description: <%= @market.description %></p>
      <%= button_to "Edit", edit_market_path(@market), :class => "btn btn-primary", :method => :get %>
    </section>
  </aside>
</div>