<footer class="footer">
  <small>
    <a href="http://savardfaire.tv/">Savardfaire</a>
    by St&eacute;phanie Savard
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>